
body{
	background: yellow;
}

h1{
	text-align: center;
	color: red;
}

.logo{
	height: 50%;
	width: 50%;
}

.linea{
	background: black;
}

.parsley-required{
	color: red;
	font-size: 15px;
	padding-top: 5px;
	list-style: none;
	margin-left: -35px;
}

.cajaB{
	display: block;
}

.botones{
	margin-bottom: 10px;
}

#map { 
	height: 600px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}